@media all
{
	* { margin: 0;  padding: 0; }
	div.clear { clear: both; }

	body { font-family: Tahoma, Arial, Helvetica, sans-serif; text-align: center; padding-top: 1.6em; }

	h1 { font-size: 1em; color: #0977D2; font-weight: bold; }
	h2 { font-size: 0.9em; color: #666; padding: 0.3em 0 0 0; }
	.caption { font-weight: bold; color: #666; }
	.nowrap { white-space: nowrap; }
	.printspacer { display: none; }

	div#container
	{
		width: 50em; height: 100%; margin: auto; text-align: left;
	}

	div#header
	{
	}

	div#logo
	{
		float: left; margin-bottom: 1em; width: 22em; overflow: visible;
	}

	/* top right contact data */
	div#contacts
	{
		float: right; padding-right: 1em; border-right: 0.1em solid #CC0404; color: #666; width: 22em;
	}

	div#contacts li
	{
		padding-right: 0.3em; white-space: nowrap;
	}

	div#contacts ul
	{
		font-size: 0.7em; list-style: none; text-align: right;
	}

	/* customer info container */
	div.customerInfo
	{
		float: left; padding-top: 1em;
	}

	div.customerInfo dl
	{
		float: left; margin: 1em 0; font-size: 0.8em;
	}

	div.customerInfo dl dt
	{
		clear: left; float: left; width: 10em; padding: 0.1em 0.25em 0.1em 0.25em; font-weight: bold;  white-space: nowrap; text-align: left;
	}

	div.customerInfo dl dd
	{
		float: left; width: 20em; padding: 0.1em 1em 0.1em 0.2em; white-space: nowrap; text-align: left;
	}

	div.customerInfo dl dd.first
	{
		border-top: none;
	}

	div#customerInfoContacts
	{
		width: 59%;
	}

	div#customerInfoInvoice
	{
		width: 39%;
	}

	div#customerInfoInvoice dl dd
	{
		 width: 10em;
	}

	/* content */
	div#content
	{
		 font-size: 0.8em;  text-align: left; padding-top: 1.4em;
	}

	div#content p
	{
	}

	p#documentComment
	{
		margin-bottom: 1.8em;
	}

	/* invoice rows table */
	table#rows
	{
		width: 100%;
	}

	table#rows td,
	table#rows th
	{
		border-bottom: 0.07em solid #A0A0A0; padding: 0.3em; vertical-align: top; text-align: left;
	}

	table#rows tr.descriptionRow td
	{
		border: none;
	}

	table#rows tr.headerRow td
	{
		border: none;
	}

	table#rows tr.titleRow td
	{
		border-top: 0.07em solid #A0A0A0; border-bottom: 0.07em solid #A0A0A0;
	}

	/*header row*/
	table#rows th
	{
		background-color: #A0A0A0; color: #FFFFFF;
	}

	table#rows td.sumcaption
	{
		border: none; text-align: right;
	}

	td.rowgroup h3
	{
		padding: 0.1em 0 0.1em 0; font-size: 1.8em; font-weight: normal;
	}

	td.rowgroup p
	{
		padding: 0 0 0.6em 0;
	}

	td.descriptionText
	{
		width: 40em;
	}

	p.descriptionText
	{
		width: 35em; margin-bottom: 0.6em;
	}

	tbody.sum td
	{
		border: none ! important;
	}

	/* signatures */
	div.signatureContainer
	{
		width: 100%; margin-top: 6em;
	}

	div.signer
	{
		float: left; width: 40%; text-align: left; font-size: 0.9em; margin-left: 4em;
	}

	div.signer h4
	{
		padding-bottom: 0.8em;
	}

	div.signer p
	{
		margin-left: 0.5em;
	}

	p.signature
	{
		font-size: 0.9em; height: 100%; float:left; width: 100%; border-bottom: 0.07em solid #A0A0A0; padding-top: 4em;
	}

	/* footer */
	div#footer
	{
		border-top: 0.07em solid #A0A0A0; text-align: center; color: #666; height: 3em; margin: 6em 0 1em 0; padding-top: 0.4em;
	}

	div#footer p
	{
		font-size: 0.7em; padding-top: 0.3em;
	}

	p.pageNumber
	{
		text-align: right;
	}
}

@media print
{
	div#contacts ul
	{
		margin-bottom: 0; padding-bottom: 0;
	}

	div.title h1,
	div.title h2
	{
		padding-top: -0.6em;
	}

	div.customerInfo,
	div#content
	{
		padding-top: 0; margin-top: 0;
	}

	p#documentComment
	{
		margin-bottom: 1em;
	}

	/* rows table */
	table#rows th,
	table#rows td
	{
		font-size: 0.8em;
	}

	h3.caption
	{
		font-size: 1.8em; font-weight: normal;
	}

	td.descriptionText
	{
		width: 30em;
		min-width: 25em;
		max-width: 35em;
	}

	td.rowgroup
	{
		border: none;
	}

	tr.headerRow
	{
		page-break-after: avoid;
	}

	/* printspacers are used to set margins and paddings in pdf print visual layout because for unknown reasons mpdf doesn't understand css in rows table */
	.printspacer
	{
		display: block; font-size: 0.4em;
	}

	/* signature and footer */
	div.signatureContainer
	{
		page-break-inside: avoid; height: auto;
	}

	p.signature
	{
		font-size: 0.7em; height: auto; margin-top: 3em;
	}

	div.signer h4,
	div.signer p
	{
		font-size: 0.8em;
	}

	div.signer p
	{
		padding-top: -1em;
	}

	div#footer
	{
		height: auto; margin: auto; padding-top: 0.3em;
	}

	div#footer p
	{
		margin: 0; padding: 0.3em 0 0 0;
	}
}

@media screen
{
	div#footer,
	div.customerInfo dl dd
	{
		border-top-width: 1px;
	}

	p.signature,
	table#rows td,
	table#rows th
	{
		border-bottom-width: 1px;
	}
}
