<?xml version='1.0'?>
<properties>
      <property>
            <name>name</name>
            <table>objects</table>
            <type>textbox</type>
            <rel>1</rel>
            <trans>1</trans>
            <group>general_sub</group>
            <field>name</field>
            <caption>Nimi</caption>
            <comment>Objekti nimi</comment>
      </property>
      <property>
            <name>comment</name>
            <table>objects</table>
            <type>textbox</type>
            <group>general_sub</group>
            <field>comment</field>
            <caption>Kommentaar</caption>
            <comment>Vabas vormis tekst objekti kohta</comment>
      </property>
      <property>
            <name>status</name>
            <table>objects</table>
            <type>status</type>
            <trans>1</trans>
            <default>1</default>
            <group>general_sub</group>
            <field>status</field>
            <caption>Aktiivne</caption>
            <comment>Kas objekt on aktiivne</comment>
      </property>
      <property>
            <name>status_recursive</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <default>0</default>
            <group>general_sub</group>
            <store>no</store>
            <editonly>1</editonly>
            <field>status_recursive</field>
            <caption>Aktiveeri/deaktiveeri ka alamkaustad</caption>
            <comment>Suure hulga alamkaustade olemasolul on see operatsioon ajamahukas</comment>
      </property>
      <property>
            <name>alias_ch</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <default>1</default>
            <group>general_sub</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Genereeri alias automaatselt</caption>
      </property>
      <property>
            <name>alias</name>
            <table>objects</table>
            <type>textbox</type>
            <group>general_sub</group>
            <field>alias</field>
            <caption>Alias</caption>
      </property>
      <property>
            <name>jrk</name>
            <table>objects</table>
            <type>textbox</type>
            <size>4</size>
            <group>general_sub</group>
            <field>jrk</field>
            <caption>Jrk</caption>
      </property>
      <property>
            <name>type</name>
            <table>menu</table>
            <type>select</type>
            <group>advanced_settings</group>
            <field>type</field>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml; t&amp;amp;uuml;&amp;amp;uuml;p</caption>
      </property>
      <property>
            <name>pmethod_properties</name>
            <table>objects</table>
            <type>callback</type>
            <callback>callback_get_pmethod_options</callback>
            <group>advanced_settings</group>
            <store>no</store>
            <field>pmethod_properties</field>
            <caption>Avaliku meetodi seaded</caption>
      </property>
      <property>
            <name>admin_feature</name>
            <table>menu</table>
            <warning>0</warning>
            <type>select</type>
            <group>advanced_settings</group>
            <field>admin_feature</field>
            <caption>Vali programm</caption>
      </property>
      <property>
            <name>add_tree_conf</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_ADD_TREE_CONF</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Objekti lisamise puu konff</caption>
      </property>
      <property>
            <name>cfgmanager</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_CFGFORM</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Konfiguratsioonivorm</caption>
      </property>
      <property>
            <name>default_image_folder</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_DEFAULT_IMAGE_FOLDER</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Vaikimisi piltide kataloog</caption>
      </property>
      <property>
            <name>short_alias</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Struktuurist s&amp;amp;otilde;ltumatu alias</caption>
      </property>
      <property>
            <name>default_image_folder_is_inherited</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Vaikimisi piltide kataloog p&amp;amp;auml;ritav</caption>
      </property>
      <property>
            <name>change_time</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Sisu uuendamise sagedus</caption>
      </property>
      <property>
            <name>change_pri</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_settings</group>
            <caption>Sisu t&amp;amp;auml;htsus (0-1.0)</caption>
      </property>
      <property>
            <name>no_export</name>
            <table>objects</table>
            <type>checkbox</type>
            <group>import_export</group>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <caption>&amp;amp;Auml;ra n&amp;amp;auml;ita ekspordis</caption>
      </property>
      <property>
            <name>export</name>
            <table>objects</table>
            <type>callback</type>
            <callback>callback_get_export_options</callback>
            <group>import_export</group>
            <store>no</store>
            <field>export</field>
            <caption>Eksport</caption>
      </property>
      <property>
            <name>users_only</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>users</group>
            <ch_value>1</ch_value>
            <caption>Ainult sisselogitud kasutajatele</caption>
      </property>
      <property>
            <name>stats_from</name>
            <table>objects</table>
            <type>date_select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>stats</group>
            <default>-1</default>
            <caption>Alates</caption>
      </property>
      <property>
            <name>stats_to</name>
            <table>objects</table>
            <type>date_select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>stats</group>
            <default>-1</default>
            <caption>Kuni</caption>
      </property>
      <property>
            <name>stats_disp</name>
            <table>objects</table>
            <type>text</type>
            <field>meta</field>
            <method>serialize</method>
            <group>stats</group>
            <caption>Vaatamisi ja muutmisi</caption>
      </property>
      <property>
            <name>link_behaviour</name>
            <table>objects</table>
            <type>chooser</type>
            <store>no</store>
            <multiple>1</multiple>
            <group>show_sub</group>
            <field>link_behaviour</field>
            <caption>Lingi iseloom</caption>
      </property>
      <property>
            <name>target</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>show_sub</group>
            <ch_value>1</ch_value>
            <search>1</search>
            <field>target</field>
            <caption>Uues aknas</caption>
      </property>
      <property>
            <name>clickable</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>show_sub</group>
            <ch_value>1</ch_value>
            <default>1</default>
            <field>clickable</field>
            <caption>Klikitav</caption>
      </property>
      <property>
            <name>link</name>
            <table>menu</table>
            <type>textbox</type>
            <group>show_sub</group>
            <field>link</field>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml; link</caption>
      </property>
      <property>
            <name>show_restrictions</name>
            <table>objects</table>
            <type>chooser</type>
            <store>no</store>
            <multiple>1</multiple>
            <group>show_sub</group>
            <field>show_restrictions</field>
            <caption>N&amp;amp;auml;itamine</caption>
      </property>
      <property>
            <name>frontpage</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>show_sub</group>
            <ch_value>1</ch_value>
            <caption>Esilehel</caption>
      </property>
      <property>
            <name>mid</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>show_sub</group>
            <ch_value>1</ch_value>
            <field>mid</field>
            <caption>Paremal</caption>
      </property>
      <property>
            <name>show_conditions</name>
            <table>objects</table>
            <type>chooser</type>
            <store>no</store>
            <multiple>1</multiple>
            <group>show_sub</group>
            <field>show_conditions</field>
            <caption>Tingimused</caption>
      </property>
      <property>
            <name>hide_noact</name>
            <table>menu</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <group>show_sub</group>
            <field>hide_noact</field>
            <caption>Peida &amp;amp;auml;ra, kui selle kausta all aktiivseid dokumente ei ole</caption>
      </property>
      <property>
            <name>no_menus</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>show_sub</group>
            <ch_value>1</ch_value>
            <field>no_menus</field>
            <caption>Ilma men&amp;amp;uuml;&amp;amp;uuml;deta</caption>
      </property>
      <property>
            <name>panes</name>
            <table>objects</table>
            <type>chooser</type>
            <store>no</store>
            <multiple>1</multiple>
            <group>show_sub</group>
            <field>panes</field>
            <caption>Paanid</caption>
      </property>
      <property>
            <name>left_pane</name>
            <table>menu</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <default>1</default>
            <group>show_sub</group>
            <field>left_pane</field>
            <caption>Vasak paan</caption>
      </property>
      <property>
            <name>right_pane</name>
            <table>menu</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <default>1</default>
            <group>show_sub</group>
            <field>right_pane</field>
            <caption>Parem paan</caption>
      </property>
      <property>
            <name>width</name>
            <table>menu</table>
            <type>textbox</type>
            <size>5</size>
            <group>show_sub</group>
            <field>width</field>
            <caption>Laius</caption>
      </property>
      <property>
            <name>show_lead</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>doc_show</group>
            <ch_value>1</ch_value>
            <caption>N&amp;amp;auml;ita ainult leadi</caption>
      </property>
      <property>
            <name>sort_by_name</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>doc_show</group>
            <ch_value>1</ch_value>
            <caption>Sorteeri nime j&amp;amp;auml;rgi</caption>
      </property>
      <property>
            <name>sorter</name>
            <table>menu</table>
            <type>table</type>
            <group>doc_ord</group>
            <store>no</store>
            <field>sorter</field>
            <caption>Dokumentide j&amp;amp;auml;rjestamine</caption>
      </property>
      <property>
            <name>doc_ord_apply_to_admin</name>
            <table>objects</table>
            <type>checkbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>doc_ord</group>
            <caption>Kehtib ka adminis</caption>
      </property>
      <property>
            <name>ip</name>
            <table>objects</table>
            <type>table</type>
            <store>no</store>
            <group>ip</group>
            <no_caption>1</no_caption>
            <field>ip</field>
      </property>
      <property>
            <name>color</name>
            <table>objects</table>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>look_sub</group>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml; v&amp;amp;auml;rv</caption>
      </property>
      <property>
            <name>color2</name>
            <table>objects</table>
            <type>colorpicker</type>
            <field>meta</field>
            <method>serialize</method>
            <group>look_sub</group>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml; v&amp;amp;auml;rv 2</caption>
      </property>
      <property>
            <name>icon</name>
            <table>objects</table>
            <type>icon</type>
            <field>meta</field>
            <method>serialize</method>
            <group>look_sub</group>
            <caption>Ikoon</caption>
      </property>
      <property>
            <name>sel_icon</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_ICON</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>look_sub</group>
            <caption>Vali ikoon</caption>
      </property>
      <property>
            <name>tpl_dir</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>templates</group>
            <caption>Template set</caption>
      </property>
      <property>
            <name>tpl_dir_applies_to_all</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <group>templates</group>
            <caption>Kasuta template setist k&amp;amp;otilde;iki templatesid</caption>
      </property>
      <property>
            <name>show_lead_template</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>templates</group>
            <caption>Leadi template</caption>
      </property>
      <property>
            <name>tpl_view</name>
            <table>menu</table>
            <type>select</type>
            <group>templates</group>
            <field>tpl_view</field>
            <caption>Template dokumendi n&amp;amp;auml;itamiseks (pikk)</caption>
      </property>
      <property>
            <name>tpl_view_no_inherit</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>templates</group>
            <ch_value>1</ch_value>
            <field>tpl_view_no_inherit</field>
            <caption>Ei ole p&amp;amp;auml;ritav</caption>
      </property>
      <property>
            <name>tpl_lead</name>
            <table>menu</table>
            <type>select</type>
            <group>templates</group>
            <field>tpl_lead</field>
            <caption>Template dokumendi n&amp;amp;auml;itamiseks (l&amp;amp;uuml;hike)</caption>
      </property>
      <property>
            <name>tpl_lead_no_inherit</name>
            <table>menu</table>
            <type>checkbox</type>
            <group>templates</group>
            <ch_value>1</ch_value>
            <field>tpl_lead_no_inherit</field>
            <caption>Ei ole p&amp;amp;auml;ritav</caption>
      </property>
      <property>
            <name>show_layout</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_SHOW_AS_LAYOUT</reltype>
            <group>templates</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Kasuta n&amp;amp;auml;itamiseks layouti</caption>
      </property>
      <property>
            <name>images_from_menu</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_PICTURES_MENU</reltype>
            <group>presentation</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>V&amp;amp;otilde;ta pildid men&amp;amp;uuml;&amp;amp;uuml; alt</caption>
      </property>
      <property>
            <name>img_timing</name>
            <table>objects</table>
            <type>textbox</type>
            <size>3</size>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <caption>Viivitus piltide vahel (sek.)</caption>
      </property>
      <property>
            <name>imgrelmanager</name>
            <table>objects</table>
            <type>relmanager</type>
            <reltype>RELTYPE_IMAGE</reltype>
            <store>no</store>
            <group>presentation</group>
            <field>imgrelmanager</field>
            <caption>Vali pilte</caption>
      </property>
      <property>
            <name>img_act</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_IMAGE</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <caption>Aktiivse men&amp;amp;uuml;&amp;amp;uuml; pilt</caption>
      </property>
      <property>
            <name>menu_images</name>
            <table>objects</table>
            <type>table</type>
            <field>meta</field>
            <method>serialize</method>
            <group>presentation</group>
            <store>no</store>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml; pildid</caption>
      </property>
      <property>
            <name>submenus_from_obj</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_SUBMENUS</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>menus_sub</group>
            <caption>Alammen&amp;amp;uuml;&amp;amp;uuml;d objektist</caption>
      </property>
      <property>
            <name>get_content_from</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_CONTENT_FROM</reltype>
            <field>meta</field>
            <method>serialize</method>
            <group>menus_sub</group>
            <caption>Sisu objektist</caption>
      </property>
      <property>
            <name>submenus_from_cb</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <group>menus_sub</group>
            <field>meta</field>
            <method>serialize</method>
            <default>0</default>
            <caption>Alammen&amp;amp;uuml;&amp;amp;uuml;d objekti AW liidesest</caption>
      </property>
      <property>
            <name>submenus_from_menu</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_SHOW_SUBFOLDERS_MENU</reltype>
            <group>menus_sub</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>V&amp;amp;otilde;ta alammen&amp;amp;uuml;&amp;amp;uuml;d men&amp;amp;uuml;&amp;amp;uuml; alt</caption>
      </property>
      <property>
            <name>show_object_tree</name>
            <table>objects</table>
            <type>relpicker</type>
            <reltype>RELTYPE_OBJ_TREE</reltype>
            <group>menus_sub</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Kasuta alammen&amp;amp;uuml;&amp;amp;uuml;de n&amp;amp;auml;itamiseks objektide nimekirja</caption>
      </property>
      <property>
            <name>use_target_audience</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <group>menus_sub</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Kasuta sihtr&amp;amp;uuml;hmap&amp;amp;otilde;hist kuvamist</caption>
      </property>
      <property>
            <name>select_target_audience</name>
            <table>objects</table>
            <type>relpicker</type>
            <multiple>1</multiple>
            <reltype>RELTYPE_TARGET_AUDIENCE</reltype>
            <group>menus_sub</group>
            <store>connect</store>
            <field>meta</field>
            <method>serialize</method>
            <caption>Vali sihtr&amp;amp;uuml;hmad</caption>
      </property>
      <property>
            <name>content_all_langs</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <group>menus_sub</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Sisu k&amp;amp;otilde;ikidest keeltest</caption>
      </property>
      <property>
            <name>set_doc_content_type</name>
            <table>menu</table>
            <type>chooser</type>
            <group>menus_sub</group>
            <field>set_doc_content_type</field>
            <caption>M&amp;amp;auml;&amp;amp;auml;ra sisu t&amp;amp;uuml;&amp;amp;uuml;p</caption>
      </property>
      <property>
            <name>has_ctx</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_ctx</group>
            <caption>Kuva alamkaustu kontekstip&amp;amp;otilde;hiselt</caption>
      </property>
      <property>
            <name>default_ctx</name>
            <table>objects</table>
            <type>select</type>
            <field>meta</field>
            <method>serialize</method>
            <group>advanced_ctx</group>
            <caption>Default kontekst</caption>
      </property>
      <property>
            <name>ctx</name>
            <table>objects</table>
            <type>releditor</type>
            <reltype>RELTYPE_CTX</reltype>
            <field>meta</field>
            <method>serialize</method>
            <mode>manager</mode>
            <props>
                  <num_0>name</num_0>
                  <num_1>status</num_1>
            </props>
            <table_fields>
                  <num_0>name</num_0>
                  <num_1>status</num_1>
            </table_fields>
            <table_edit_fields>
                  <num_0>name</num_0>
                  <num_1>status</num_1>
            </table_edit_fields>
            <group>advanced_ctx</group>
            <caption>Kontekstid</caption>
      </property>
      <property>
            <name>shop_product_category</name>
            <table>menu</table>
            <type>objpicker</type>
            <clid>CL_SHOP_PRODUCT_CATEGORY</clid>
            <field>aw_shop_product_category</field>
            <caption>Tootekategooria</caption>
            <comment>Tootekategooria, mille veebis kuvatava vastena kaust on loodud</comment>
      </property>
      <property>
            <name>sa_manager</name>
            <table>objects</table>
            <type>relmanager</type>
            <reltype>RELTYPE_SEEALSO</reltype>
            <group>relations</group>
            <store>no</store>
            <field>sa_manager</field>
            <caption>Seosehaldur</caption>
      </property>
      <property>
            <name>seealso</name>
            <table>objects</table>
            <type>table</type>
            <group>relations</group>
            <store>no</store>
            <field>seealso</field>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml;d, mille all see men&amp;amp;uuml;&amp;amp;uuml; on &amp;quot;vaata lisaks&amp;quot; men&amp;amp;uuml;&amp;amp;uuml;</caption>
            <comment>Nende men&amp;amp;uuml;&amp;amp;uuml;de lisamine ja eemaldamine k&amp;amp;auml;ib l&amp;amp;auml;bi seostehalduri</comment>
      </property>
      <property>
            <name>seealso_order</name>
            <table>objects</table>
            <type>textbox</type>
            <group>relations</group>
            <size>3</size>
            <field>meta</field>
            <method>serialize</method>
            <caption>J&amp;amp;auml;rjekorranumber (vaata lisaks)</caption>
      </property>
      <property>
            <name>sections</name>
            <table>objects</table>
            <type>table</type>
            <store>no</store>
            <group>brothers</group>
            <field>sections</field>
            <caption>Vennad</caption>
      </property>
      <property>
            <name>sss_tb</name>
            <table>objects</table>
            <type>toolbar</type>
            <store>no</store>
            <no_caption>1</no_caption>
            <group>docs_from</group>
            <field>sss_tb</field>
      </property>
      <property>
            <name>ndocs</name>
            <table>menu</table>
            <type>textbox</type>
            <size>3</size>
            <group>
                  <num_0>doc_show</num_0>
                  <num_1>docs_from</num_1>
            </group>
            <field>ndocs</field>
            <caption>Mitu viimast dokumenti</caption>
      </property>
      <property>
            <name>sss</name>
            <table>objects</table>
            <type>table</type>
            <store>no</store>
            <group>docs_from</group>
            <no_caption>1</no_caption>
            <field>sss</field>
            <caption>Men&amp;amp;uuml;&amp;amp;uuml;d, mille alt viimased dokumendid v&amp;amp;otilde;etakse</caption>
      </property>
      <property>
            <name>sss_exclude</name>
            <table>objects</table>
            <type>table</type>
            <store>no</store>
            <group>docs_from</group>
            <no_caption>1</no_caption>
            <field>sss_exclude</field>
            <caption>&amp;amp;Auml;ra v&amp;amp;otilde;ta dokumente men&amp;amp;uuml;&amp;amp;uuml; alt</caption>
      </property>
      <property>
            <name>seealso_docs_tb</name>
            <table>objects</table>
            <type>toolbar</type>
            <group>seealso_docs</group>
            <no_caption>1</no_caption>
            <store>no</store>
            <field>seealso_docs_tb</field>
            <caption>Vaatalisaks dokumendid toolbar</caption>
      </property>
      <property>
            <name>seealso_docs_t</name>
            <table>menu</table>
            <type>table</type>
            <group>seealso_docs</group>
            <no_caption>1</no_caption>
            <store>no</store>
            <field>seealso_docs_t</field>
            <caption>Vaatalisaks dokumendid</caption>
      </property>
      <property>
            <name>periodic</name>
            <table>objects</table>
            <type>checkbox</type>
            <group>periods</group>
            <ch_value>1</ch_value>
            <field>periodic</field>
            <caption>Perioodiline</caption>
      </property>
      <property>
            <name>pers</name>
            <table>objects</table>
            <type>relpicker</type>
            <multiple>1</multiple>
            <size>5</size>
            <field>meta</field>
            <method>serialize</method>
            <group>periods</group>
            <reltype>RELTYPE_PERIOD</reltype>
            <caption>Perioodid, mille alt dokumendid v&amp;amp;otilde;etakse</caption>
      </property>
      <property>
            <name>all_pers</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <field>meta</field>
            <method>serialize</method>
            <group>periods</group>
            <caption>K&amp;amp;otilde;ikide perioodide alt</caption>
      </property>
      <property>
            <name>docs_per_period</name>
            <table>objects</table>
            <type>textbox</type>
            <size>3</size>
            <group>periods</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Dokumente perioodist</caption>
      </property>
      <property>
            <name>show_periods</name>
            <table>objects</table>
            <type>checkbox</type>
            <ch_value>1</ch_value>
            <group>periods</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>N&amp;amp;auml;ita perioode</caption>
      </property>
      <property>
            <name>show_period_count</name>
            <table>objects</table>
            <type>textbox</type>
            <size>4</size>
            <group>periods</group>
            <field>meta</field>
            <method>serialize</method>
            <caption>Mitu viimast perioodi</caption>
      </property>
      <property>
            <name>kw_tb</name>
            <table>objects</table>
            <type>toolbar</type>
            <no_caption>1</no_caption>
            <store>no</store>
            <group>keywords</group>
            <field>kw_tb</field>
      </property>
      <property>
            <name>grkeywords2</name>
            <table>objects</table>
            <type>keyword_selector</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <reltype>RELTYPE_KEYWORD</reltype>
            <caption>AW M&amp;amp;auml;rks&amp;amp;otilde;nad</caption>
      </property>
      <property>
            <name>keywords</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <caption>META keywords</caption>
      </property>
      <property>
            <name>description</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <caption>META description</caption>
      </property>
      <property>
            <name>page_title</name>
            <table>objects</table>
            <type>textbox</type>
            <field>meta</field>
            <method>serialize</method>
            <group>keywords</group>
            <caption>Lehe pealkiri</caption>
      </property>
      <property>
            <name>acl</name>
            <table>objects</table>
            <group>acl_main</group>
            <type>acl_manager</type>
            <store>no</store>
            <field>acl</field>
            <caption>&amp;amp;Otilde;igused</caption>
      </property>
      <property>
            <name>acl_views</name>
            <table>objects</table>
            <group>acl_views</group>
            <type>table</type>
            <store>no</store>
            <no_caption>1</no_caption>
            <field>acl_views</field>
      </property>
      <property>
            <name>acl_edits</name>
            <table>objects</table>
            <group>acl_edits</group>
            <type>table</type>
            <store>no</store>
            <no_caption>1</no_caption>
            <field>acl_edits</field>
      </property>
      <property>
            <name>timing</name>
            <table>objects</table>
            <group>timing</group>
            <type>timing</type>
            <store>no</store>
            <field>timing</field>
            <caption>Ajaline aktiivsus</caption>
      </property>
      <property>
            <name>transl</name>
            <table>objects</table>
            <group>transl</group>
            <type>callback</type>
            <callback>callback_get_transl</callback>
            <store>no</store>
            <field>transl</field>
            <caption>T&amp;amp;otilde;lgi</caption>
      </property>
      <classinfo>
            <trans>1</trans>
            <relationmgr>yes</relationmgr>
            <objtable>menu</objtable>
            <objtable_index>id</objtable_index>
            <syslog_type>ST_MENU</syslog_type>
      </classinfo>
      <groupinfo>
            <general_sub>
                  <caption>&amp;amp;Uuml;ldine</caption>
                  <parent>general</parent>
            </general_sub>
            <advanced_settings>
                  <caption>S&amp;amp;uuml;vaseaded</caption>
                  <parent>general</parent>
            </advanced_settings>
            <import_export>
                  <caption>Eksport</caption>
                  <submit>no</submit>
                  <parent>general</parent>
            </import_export>
            <users>
                  <caption>Kasutajad</caption>
                  <parent>general</parent>
            </users>
            <stats>
                  <caption>Statistika</caption>
                  <parent>general</parent>
            </stats>
            <show>
                  <caption>N&amp;amp;auml;itamine</caption>
            </show>
            <show_sub>
                  <caption>N&amp;amp;auml;itamine</caption>
                  <parent>show</parent>
            </show_sub>
            <doc_show>
                  <caption>Dokumentide kuvamine</caption>
                  <parent>show</parent>
            </doc_show>
            <doc_ord>
                  <caption>Dokumentide j&amp;amp;auml;rjestamine</caption>
                  <parent>show</parent>
            </doc_ord>
            <ip>
                  <caption>IP piirangud</caption>
                  <parent>show</parent>
            </ip>
            <look>
                  <caption>V&amp;amp;auml;limus</caption>
            </look>
            <look_sub>
                  <caption>V&amp;amp;auml;limus</caption>
                  <parent>look</parent>
            </look_sub>
            <templates>
                  <caption>Kujundusp&amp;amp;otilde;hjad</caption>
                  <parent>look</parent>
            </templates>
            <presentation>
                  <caption>Pildid</caption>
                  <parent>look</parent>
            </presentation>
            <menus>
                  <caption>Sisu seaded</caption>
            </menus>
            <menus_sub>
                  <caption>Sisu seaded</caption>
                  <parent>menus</parent>
            </menus_sub>
            <advanced_ctx>
                  <caption>Kontekst</caption>
                  <parent>menus</parent>
            </advanced_ctx>
            <relations>
                  <caption>Vaata lisaks</caption>
                  <parent>menus</parent>
            </relations>
            <brothers>
                  <caption>Vennastamine</caption>
                  <parent>menus</parent>
            </brothers>
            <docs_from>
                  <caption>Sisu asukoht</caption>
                  <parent>menus</parent>
            </docs_from>
            <seealso_docs>
                  <caption>Vaata lisaks dokumendid</caption>
                  <parent>menus</parent>
            </seealso_docs>
            <periods>
                  <caption>Perioodid</caption>
                  <parent>menus</parent>
            </periods>
            <keywords>
                  <caption>V&amp;amp;otilde;tmes&amp;amp;otilde;nad</caption>
                  <parent>menus</parent>
            </keywords>
            <acl>
                  <caption>&amp;amp;Otilde;igused</caption>
            </acl>
            <acl_main>
                  <caption>&amp;amp;Otilde;igused</caption>
                  <parent>acl</parent>
            </acl_main>
            <acl_views>
                  <caption>Vaatamised</caption>
                  <parent>acl</parent>
            </acl_views>
            <acl_edits>
                  <caption>Muutmised</caption>
                  <parent>acl</parent>
            </acl_edits>
            <timing>
                  <caption>Ajaline aktiivsus</caption>
            </timing>
            <transl>
                  <caption>T&amp;amp;otilde;lgi</caption>
            </transl>
      </groupinfo>
      <tableinfo>
            <menu>
                  <index>id</index>
                  <master_table>objects</master_table>
                  <master_index>oid</master_index>
            </menu>
      </tableinfo>
      <reltypes>
            <PICTURES_MENU>
                  <value>1</value>
                  <clid>CL_MENU</clid>
                  <caption>v&amp;amp;otilde;ta pildid men&amp;amp;uuml;&amp;amp;uuml;lt</caption>
            </PICTURES_MENU>
            <SHOW_SUBFOLDERS_MENU>
                  <value>2</value>
                  <clid>CL_MENU</clid>
                  <caption>v&amp;amp;otilde;ta alamkasutad men&amp;amp;uuml;&amp;amp;uuml;lt</caption>
            </SHOW_SUBFOLDERS_MENU>
            <SHOW_AS_CALENDAR>
                  <value>3</value>
                  <clid>CL_PLANNER</clid>
                  <caption>v&amp;amp;otilde;ta objekte kalendrist</caption>
            </SHOW_AS_CALENDAR>
            <SHOW_AS_LAYOUT>
                  <value>4</value>
                  <clid>CL_LAYOUT</clid>
                  <caption>kasuta saidi n&amp;amp;auml;itamisel layouti</caption>
            </SHOW_AS_LAYOUT>
            <SEEALSO>
                  <value>5</value>
                  <clid>CL_MENU</clid>
                  <caption>vaata lisaks</caption>
            </SEEALSO>
            <IP>
                  <value>6</value>
                  <clid>CL_IPADDRESS</clid>
                  <caption>IP aadress ligip&amp;amp;auml;&amp;amp;auml;su piiramiseks</caption>
            </IP>
            <ACL_GROUP>
                  <value>7</value>
                  <clid>CL_GROUP</clid>
                  <caption>Kasutajagrupp</caption>
            </ACL_GROUP>
            <OBJ_TREE>
                  <value>8</value>
                  <clid>
                        <num_0>CL_OBJECT_TREE</num_0>
                        <num_1>CL_OBJECT_TREEVIEW_V2</num_1>
                  </clid>
                  <caption>objektide nimekiri</caption>
            </OBJ_TREE>
            <DOCS_FROM_MENU>
                  <value>9</value>
                  <clid>CL_MENU</clid>
                  <caption>v&amp;amp;otilde;ta dokumente men&amp;amp;uuml;&amp;amp;uuml; alt</caption>
            </DOCS_FROM_MENU>
            <PERIOD>
                  <value>10</value>
                  <clid>CL_PERIOD</clid>
                  <caption>v&amp;amp;otilde;ta dokumente perioodi alt</caption>
            </PERIOD>
            <ADD_TREE_CONF>
                  <value>12</value>
                  <clid>CL_ADD_TREE_CONF</clid>
                  <caption>lisamise puu konfiguratsioon</caption>
            </ADD_TREE_CONF>
            <CFGFORM>
                  <value>13</value>
                  <clid>CL_CFGFORM</clid>
                  <caption>konfiguratsioonivorm</caption>
            </CFGFORM>
            <IMAGE>
                  <value>14</value>
                  <clid>CL_IMAGE</clid>
                  <caption>pilt</caption>
            </IMAGE>
            <SUBMENUS>
                  <value>16</value>
                  <clid>
                        <num_0>CL_SHOP_ORDER_CENTER</num_0>
                        <num_1>CL_CRM_SECTION</num_1>
                        <num_2>CL_OBJECT_TREEVIEW_V2</num_2>
                        <num_3>CL_ABSTRACT_DATASOURCE</num_3>
                        <num_4>CL_CRM_COMPANY_WEBVIEW</num_4>
                        <num_5>CL_PERSONS_WEBVIEW</num_5>
                        <num_6>CL_CFGFORM</num_6>
                        <num_7>CL_TRADEMARK_ADD</num_7>
                        <num_8>CL_PATENT_ADD</num_8>
                        <num_9>CL_UTILITY_MODEL_ADD</num_9>
                        <num_10>CL_INDUSTRIAL_DESIGN_ADD</num_10>
                        <num_11>CL_EURO_PATENT_ET_DESC_ADD</num_11>
                  </clid>
                  <caption>alammen&amp;amp;uuml;&amp;amp;uuml;d objektist</caption>
            </SUBMENUS>
            <CONTENT_FROM>
                  <value>17</value>
                  <clid>CL_PROJECT</clid>
                  <caption>Sisu objektist</caption>
            </CONTENT_FROM>
            <SEEALSO_DOC>
                  <value>18</value>
                  <clid>CL_DOCUMENT</clid>
                  <caption>vaata lisaks dokument</caption>
            </SEEALSO_DOC>
            <ICON>
                  <value>19</value>
                  <clid>CL_IMAGE</clid>
                  <caption>ikoon</caption>
            </ICON>
            <TIMING>
                  <value>20</value>
                  <clid>CL_TIMING</clid>
                  <caption>Aeg</caption>
            </TIMING>
            <CTX>
                  <value>21</value>
                  <clid>CL_FOLDER_CONTEXT</clid>
                  <caption>Kontekst</caption>
            </CTX>
            <LANG_REL>
                  <value>22</value>
                  <clid>CL_MENU</clid>
                  <caption>Keeleseos</caption>
            </LANG_REL>
            <KEYWORD>
                  <value>23</value>
                  <clid>CL_KEYWORD</clid>
                  <caption>V&amp;amp;otilde;tmes&amp;amp;otilde;na</caption>
            </KEYWORD>
            <NO_DOCS_FROM_MENU>
                  <value>24</value>
                  <clid>CL_MENU</clid>
                  <caption>&amp;amp;auml;ra v&amp;amp;otilde;ta dokumente men&amp;amp;uuml;&amp;amp;uuml; alt</caption>
            </NO_DOCS_FROM_MENU>
            <DEFAULT_IMAGE_FOLDER>
                  <value>25</value>
                  <clid>CL_MENU</clid>
                  <caption>Vaikimisi piltide kataloog</caption>
            </DEFAULT_IMAGE_FOLDER>
            <TARGET_AUDIENCE>
                  <value>26</value>
                  <clid>CL_TARGET_AUDIENCE</clid>
                  <caption>Sihtr&amp;amp;uuml;hm</caption>
            </TARGET_AUDIENCE>
      </reltypes>
</properties>

