body { background: white; font-size: 10px; font-family: Arial; line-height: 16px;}
#content { width: auto;margin: 0 5%; padding: 0;border: 0; float: none !important; color: black; background: transparent none; }
div#content {margin-left: 10%; padding-top: 1em; }
#header, #footer {width: 100%; border-collapse: collapse;}
#header td {padding: 0;}
.r {text-align: right;}
.l {text-align: left;}
div#mast {margin-bottom: -8px;}
div#mast img {vertical-align: bottom;}

a img { border: 0; }
a:link, a:visited { color: #520; background: transparent; font-weight: bold; text-decoration: underline;  }
span.url {font-size: 90% ! important;}

.image { display: block; }
.image p { font-weight: bold; font-size: 0.9em; text-align: left; display: block; margin: 0 auto;}
.image_ p { width: 100% ! important; }
.image_right { padding: 10px 0 10px 10px; float: right; }
.image_left { padding: 10px 10px 10px 0; float: left; }
.image_center { padding: 10px 0 10px 0;text-align: center; width: 100%; }

h1 { font-size: 14px; }
h2 { font-size: 12px; }
h3 { font-size: 11px; }

.break {clear: both;}

