<style type="text/css">
@media print
{
	.Vastuv6ttLink
	{
		display: none;
	}

	.Vastuv6ttContent
	{
		page-break-inside : always;
	}

	td, p
	{
		font-family: Times New Roman, Times, Serif;
		color: #000000;
		font-size : 12pt;
	}

	h2
	{
		font-family: Times New Roman, Times, Serif;
		color: #000000;
		font-size : 14pt;
	}

	hr#AvaldusSeparator
	{
		color: #000000;
		border : 1px dashed #000000;
	}
}
</style>

<div class="Vastuv6ttLink"><a class="Vastuv6ttLink" href="javascript:window.print();" >Prindi t&otilde;end</a>&nbsp;&nbsp;&nbsp;<a class="Vastuv6ttLink" href="{VAR:sisseastuja_return_url}" >Tagasi</a></div>

<table border="0" width="90%" height="100%" class="Vastuv6ttContent">
<tr>
	<td valign="middle">

<h2>Eesti P&otilde;llumajandus&uuml;likool</h2>

<p>
{VAR:eesnimi} {VAR:perenimi} ({VAR:isikukood}) sisseastujanumbriga {VAR:sisseastuja_nr} kandideerib <b>{VAR:eriala}</b> eriala {VAR:oppevorm} &otilde;ppekohale j&auml;rgmiste tulemustega:


<table border="0">
<tr>
	<td style="vertical-align: top; text-align: left;">

	<table border="0">
	<!-- SUB: riigieksamid -->
	<tr><td>{VAR:riigieksam_nimi}</td><td>{VAR:riigieksam_punkte}</td></tr>
	<!-- END SUB: riigieksamid -->
	</table>
	Hinnetelehe keskmine hinne {VAR:keskhinne}

	</td>
	<td style="vertical-align: top; text-align: left; padding-left: 20pt">

	L&otilde;putunnistuse hinded:<br>
	"5" - {VAR:viisi}<br>
	"4" - {VAR:neljasid}<br>
	"3" - {VAR:kolmesid}<br>
	"2" - {VAR:kahtesid}

	</td>
</tr>
</table>

<p>
Esialgne punktide summa on (arvestamata vastuv&otilde;tukatsete tulemusi) {VAR:punktisumma}.


<hr size="1">

<p>
Kandideerin <b>{VAR:eriala}</b> eriala ja <b>{VAR:eriala2}</b> eriala {VAR:oppevorm} &otilde;ppekohale.


<p>
Eelistan {VAR:eelistus} eriala.


<p>
Kuup&auml;ev: {VAR:date}


<table border="0">
<tr>
<td width="250">
Sisseastuja:
</td>
<td>
Vastuv&otilde;tukomisjoni t&ouml;&ouml;taja:
</td>
</tr>
</table>
<br>
<br>
<hr id="AvaldusSeparator" size="1">

<h2>Eesti P&otilde;llumajandus&uuml;likool</h2>

<p>
{VAR:eesnimi} {VAR:perenimi} ({VAR:isikukood}) sisseastujanumbriga {VAR:sisseastuja_nr} kandideerib <b>{VAR:eriala}</b> eriala {VAR:oppevorm} &otilde;ppekohale j&auml;rgmiste tulemustega:


<table border="0">
<tr>
	<td style="vertical-align: top; text-align: left;">

	<table border="0">
	<!-- SUB: riigieksamid -->
	<tr><td>{VAR:riigieksam_nimi}</td><td>{VAR:riigieksam_punkte}</td></tr>
	<!-- END SUB: riigieksamid -->
	</table>
	L&otilde;putunnistuse keskmine hinne {VAR:keskhinne}

	</td>
	<td style="vertical-align: top; text-align: left; padding-left: 20pt">

	L&otilde;putunnistuse hinded:<br>
	"5" - {VAR:viisi}<br>
	"4" - {VAR:neljasid}<br>
	"3" - {VAR:kolmesid}<br>
	"2" - {VAR:kahtesid}

	</td>
</tr>
</table>

<p>
Esialgne punktide summa on (arvestamata vastuv&otilde;tukatsete tulemusi) {VAR:punktisumma}.


<hr size="1">

<p>
Kandideerin <b>{VAR:eriala}</b> eriala ja <b>{VAR:eriala2}</b> eriala {VAR:oppevorm} &otilde;ppekohale.


<p>
Eelistan {VAR:eelistus} eriala.


<p>
Kuup&auml;ev: {VAR:date}


<table border="0">
<tr>
<td width="250">
Sisseastuja:
</td>
<td>
Vastuv&otilde;tukomisjoni t&ouml;&ouml;taja:
</td>
</tr>
</table>


	</td>
</tr>
</table>
