<style type="text/css">
@media print
{
	.Vastuv6ttLink
	{
		display: none;
	}

	.Vastuv6ttContent
	{
		page-break-inside : always;
	}

	td, p
	{
		font-family: Times New Roman, Times, Serif;
		color: #000000;
		font-size : 12pt;
	}

	p.Vastuv6ttSmallText
	{
		font-size : 10pt;
	}

	h2
	{
		font-family: Times New Roman, Times, Serif;
		color: #000000;
		font-size : 14pt;
	}
}
</style>

<div class="Vastuv6ttLink"><a class="Vastuv6ttLink" href="javascript:window.print();" >Prindi konkursileht</a>&nbsp;&nbsp;&nbsp;<a class="Vastuv6ttLink" href="{VAR:sisseastuja_return_url}" >Tagasi</a></div>

<table border="0" width="90%" class="Vastuv6ttContent">
<tr>
	<td valign="top">
<br><br><br>
<b>Eesti P&otilde;llumajandus&uuml;likool</b><br>
Vastuv&otilde;tukomisjon

<h2>KONKURSILEHT</h2>  {VAR:sisseastuja_nr}

<table border="0">
<tr>
	<td valign="top" align="left">
Eriala: <b>{VAR:eriala}</b><br>
Eesnimi: <b>{VAR:eesnimi}</b><br>
	</td>
	<td valign="top" align="left">
<br>
Perekonnanimi: <b>{VAR:perenimi}</b><br>
	</td>
</tr>
</table>

<p>
<b>{VAR:katse_nimi}</b>


<p>
Sisseastumiskatse toimub "........" .......................... {VAR:aasta}. a. kell ............. Kreutzwaldi ...... - ......


<p>
Punkte ..........<br>
Komisjoni liikmete allkirjad<br>
<br>
<br>
<br>

<hr size="1">
<p class="Vastuv6ttSmallText">
Konkursileht esitatakse komisjonile koos isikutt&otilde;endava dokumendiga.

	</td>
</tr>
</table>
