<TABLE cellspacing="0" border="0" width="100%">

<!-- 
<TR>
<TD class="aw04contentcellsubtitle" style="font-size:16px; background-color:#FFF;" colspan="2">Avaldused ja hinded</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Sisseastumisavaldused</TD>
<TD class="aw04contentcellright">{VAR:avaldused_tbl_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Sisseastumiskatsete konkursilehed</TD>
<TD class="aw04contentcellright">{VAR:konkursilehed_tbl_show}</TD>
</TR>
 -->
 <TR>
<TD colspan="2" class="aw04contentcellsubtitle">Nimi</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Eesnimi</TD>
<TD class="aw04contentcellright">{VAR:firstname_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Perenimi</TD>
<TD class="aw04contentcellright">{VAR:lastname_show}</TD>
</TR>

<TR>
<TD colspan="2" class="aw04contentcellsubtitle">Hinded akadeemilisel &otilde;iendil</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">5</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_5_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">4</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_4_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">3</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_3_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">2</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_2_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">1</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_1_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">A</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_a_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">B</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_b_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">C</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_c_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">D</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_d_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">E</TD>
<TD class="aw04contentcellright">{VAR:ak_hinne_e_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Keskmine hinne</TD>
<TD class="aw04contentcellright">{VAR:keskhinne_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellsubtitle" style="font-size:16px; background-color:#FFF;" colspan="2">Andmed</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Sisseastuja number</TD>
<TD class="aw04contentcellright">{VAR:sisseastuja_nr_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">&otilde;ppetase</TD>
<TD class="aw04contentcellright">{VAR:oppetase_show}</TD>
</TR>

<TR>
<TD colspan="2" class="aw04contentcellsubtitle">Isikuandmed</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Kodakondsus</TD>
<TD class="aw04contentcellright">{VAR:kodakondsus_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Elamisluba</TD>
<TD class="aw04contentcellright">{VAR:elamisluba_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Elukohamaa</TD>
<TD class="aw04contentcellright">{VAR:elukohamaa_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Isikukood</TD>
<TD class="aw04contentcellright">{VAR:personal_id_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">S&uuml;nniaeg</TD>
<TD class="aw04contentcellright">{VAR:birthday_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Sugu</TD>
<TD class="aw04contentcellright">{VAR:gender_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Perekonnaseis</TD>
<TD class="aw04contentcellright">{VAR:social_status_show}</TD>
</TR>

<TR>
<TD colspan="2" class="aw04contentcellsubtitle">Eelnevalt omandatud haridus</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Eelnevalt omandatud haridusastme kood</TD>
<TD class="aw04contentcellright">{VAR:haridus_kood_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Eelmise haridusasutuse l&otilde;petamise aasta</TD>
<TD class="aw04contentcellright">{VAR:haridus_aasta_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Haridus omandatud v&auml;lismaal</TD>
<TD class="aw04contentcellright">{VAR:haridus_v2lismaal_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Eelnevalt l&otilde;petatud k&otilde;rgkool</TD>
<TD class="aw04contentcellright">{VAR:haridus_k6rgkool_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">&otilde;ppevorm koolis</TD>
<TD class="aw04contentcellright">{VAR:haridus_kool_6ppevorm_show}</TD>
</TR>

<TR>
<TD colspan="2" class="aw04contentcellsubtitle">Sisseastuja info</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Kohustuslik v&otilde;&otilde;rkeel</TD>
<TD class="aw04contentcellright">{VAR:v66rkeel_show}</TD>
</TR>

<TR>
<TD colspan="2" class="aw04contentcellsubtitle">Kontaktandmed</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Kood</TD>
<TD class="aw04contentcellright">{VAR:aadress_kood_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">T&auml;nav, maja, korter/k&uuml;la</TD>
<TD class="aw04contentcellright">{VAR:aadress_t2nav_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Sidejaoskond</TD>
<TD class="aw04contentcellright">{VAR:aadress_sjsk_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Indeks</TD>
<TD class="aw04contentcellright">{VAR:aadress_indeks_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Linn</TD>
<TD class="aw04contentcellright">{VAR:aadress_linn_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Maakond</TD>
<TD class="aw04contentcellright">{VAR:aadress_maakond_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">Telefoninumbrid</TD>
<TD class="aw04contentcellright">{VAR:phone_show}</TD>
</TR>

<TR>
<TD class="aw04contentcellleft" width="20%">E-posti aadressid</TD>
<TD class="aw04contentcellright">{VAR:email_show}</TD>
</TR>

</TABLE>